<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/output.css" rel="stylesheet">
  </head>
  <body>
    <%- include("./header.ejs"); %>
    

    <main class="bg-gray-200 p-6 rounded-md shadow-lg flex">
      <div>
        <div class="flex-1">
          <img src=<%= product.image %> alt="">
        </div>
      </div>
      <div class="flex-1 p-6 space-y-4">
        <h3 class="text-2xl font-bold"><%= product.name %></h3>
        <p class="text-lg font-medium"><%= product.brand %></p>
        <p class="text-gray-700">
          <%= product.description %>
        </p>
        <p class="text-xl font-semibold"><%= product.price %> SEK</p>
        <button class="bg-gray-600 text-white py-2 px-4 rounded shadow hover:bg-gray-700">
          Lägg i varukorg
        </button>
      </div>
    </main>

    <h3 class="text-center text-lg font-semibold text-black">Liknande Produkter</h3>
    <div>
        <div>
          <div>
              <img src=<%= product.image %> alt="t-shirt">
          </a>
          </div>
          <div>
            <div>
              <h5><%= product.name %></h5>
              <p><%= product.brand %></p>
            </div>
            <div>
              <p><%= product.price %> SEK</p>
            </div>
          </div>
        </div>
    </div>

    <%- include("./footer.ejs"); %>
  </body>
</html>
